<!DOCTYPE html>
<html>
<head>
	<title>todo list</title>
	<script type="text/javascript" src = "mini.js"></script>
	<link rel="stylesheet" type="text/css" href="todos.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class = "container">
		<h1>To-Do List <i class="fa fa-plus-square"></i></h1>
		<input type= 'text' placeholder = "enter new todo">
		<ul>
			<li><span><i class="fa fa-trash"></i></span> Go to bathroom</li>
			<li><span><i class="fa fa-trash"></i></span> Eat some food</li>
			<li><span><i class="fa fa-trash"></i></span> buy something new</li>
			<li><span><i class="fa fa-trash"></i></span> play cricket</li>
			<li><span><i class="fa fa-trash"></i></span> play basketball</li>
			<li><span><i class="fa fa-trash"></i></span> learn exciting things</li>
			<li><span><i class="fa fa-trash"></i></span> Go to jim</li>
			<li><span><i class="fa fa-trash"></i></span> Go to talk to friends</li>
			<li><span><i class="fa fa-trash"></i></span> Go to sleep</li>
		</ul>
	</div>
	<script type="text/javascript" src = "todos.js"></script>
</body>	
</html>
